h1 {
	color: #000000;
	background-color: #06D9F9;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #06D9F9;
}

td, th {
    border: 1px solid #DDDDDD;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

.par {
    background: #28a745;
    color: #e9ecef;
}